body{
    font-family: 'Montserrat', sans-serif; 
}
.header {
    background-color:white;
}
#headergrid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    font-family: 'Montserrat', sans-serif; 
    color: #333333; 
    grid-template-areas:
    "logo"
    "navmenu" ;
    max-height: 150px;
  }

#logo { 
   align-items: left;
   justify-items: left;
   justify-content: flex-start;
   width:23%;
   padding:1%;

}

#navmenu{
    align-items: right;
    justify-items: right;
    margin-right: 30px;
    width:73%;
    padding:1%;

}
.menuitems{
    display: inline-block;
    color: #333333;
    font-family: Montserrat, sans-serif; 
    font-size: 17px;
    align-items:right;
    justify-items: right;
    justify-content: space-between;
    text-decoration: none;
    margin-right: 10px;

}
#topsectiongrid {
    display: inline-block;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    grid-template-areas: "leftimage" "pright";


}

.leftimage {
    width: 80%;
max-height: 400px;
margin-left: 30px;
}

#pright{
    background-color: #356353;
    color:white;
    align-items: right;
    justify-items: right;
}
.shortbio{
    margin: 30px;
    width: 78%;
    background-color: #356353;
    color:white;
    align-items: right;
    justify-items: right;
}

button{
    margin:30px;
    background-color: transparent;
    border: white solid;
    color: white;
    align-items: flex-end;
    justify-items: right;
}

#imagegallery{
    height: 400px;
}
/* */