body{
    font-family: font-family: 'Montserrat', sans-serif; 
}
header {
    background-color:white;
    align-items:right;
}
.navoptions{
    color: #333333;
    font-family: font-family: 'Montserrat', sans-serif; 
    font-size: 17px;
    align-items:right;

}